$color1    : #94BCBB; //verde claro  //#9D5DCF;morado obcional
$color2    : #F8F7F3; //pardo
$color3    : #1D1F21; //oscuro
$color4    : #ffffff; //blanco
$color5    : #FF565D; //rojo claro
$color6    : #FCE04C; //amarillo oscuro
$color7    : #BD3F40; //rojo oscuro
$color8    : green;   //color para la carga del test
$color9    : #CFD1D6; //color gris